<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="init" 
	default-destroy-method="cleanup"
	>
	
	<bean id="helloService" class="com.example.service.HelloWorldService">
		<property name="name" value="world"></property>
		<!-- <constructor-arg type="String" value="spring0000"></constructor-arg> -->
	</bean>
	<bean id="lifeBean" class="com.example.bean.LifeBean" init-method="start" destroy-method="stop"/>
	
	<bean id="awareBean" class="com.example.bean.AwareBean" />
</beans>
